*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:black;
    display: block;
    border-bottom: 2px solid #F4CF8B;

}

p{
    color: #F4CF8B;
    font-size: 30px;
}

.container-fluid{
    background-image: url(img/finishedvers.png);
    background-size: cover;
}

.img-fluid{
    height: 100px;
    align-items: center;
    padding-left: 300px;
}


.heroTxt1{
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

.heroTxt2{
    font-weight: bolder;
    text-align: center;
}

.heroTxt2 img{
    width: 50%;
}

.heroTxt3{
    text-align: center;
    font-weight: 300;
    font-weight: bold;
}

.heroTxt4 img{
    width: 50%;
    align-items: center;
    text-align: center;
}

.contactSection {
    height: 50vh;
    justify-content: center;
} 

.contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.505), #ffffff28);
    width: 100%;
    min-width: 30vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #F4CF8B;
}

.contactForm button:hover{
    background-color: #F4CF8B;
    color: black;
}